/*blogPA*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
    background-size: cover;
    color: #000000;
}
.footer{
    background-color: #000000;
}
label{
    color: #FFFFFF;
}
main{
    flex: 1 0 auto;
}

/* blog posts */

.blog-post {
    margin-bottom: 60px;
    color: #000000;
    font-weight: bold;
}

.blog-post-title {
    margin-bottom:5px;
    font-size:40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}
p {
    color: #000000;
    font-weight: bolder;
}